header{
    display: flex;
    background-color: rgb(75, 78, 78);
    width: 100%;
    height: 60px;
    position: sticky;
   top: 0;
    justify-content: space-between;
    align-items: center;
    z-index: 2;
}
.rightnav{
    display: flex;
    align-items: center;
}
.proimg{
    width: 10%;
    padding-left: 15px;
    border-radius: 50%;
}
.rightnav a{
    color: white;
padding: 12px;
}
.leftnav{
    display: flex;
    align-items: center;
}
.five{
    width: 10%;
    padding-right: 15px;
}
.leftnav a{
    color: white;
    margin: 12px;
}
.leftnav span{
    color: white;
}
.ra{
    margin-left: -300px;
}
.sectionone{
    background-image: url(img/back.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
}
.insectionone{
    position: absolute;
    top: 35%;
    left: 25%;
    width: 70vh;
}
.q1{
    font-size: 300%;
    width: 900px;
    text-align: center;
}
.q2{
    font-size: 200%;
    width: 900px;
    text-align: center;
}
.form{
    width: 650px;
    padding: 20px;
    text-align: center;
}
.se-form{
    height: 45px;
    width: 70px;
    background-color: rgb(62, 204, 62);
    border-color: rgb(62, 204, 62);
    position: absolute;
    top: 80%;
    left: 10px;
}
.title{
    display: flex;
    justify-content: center;
    font-size: 40px;
    font-weight: 100;
}
.firstcart{
    display: flex;
    justify-content: space-between;
    height: 210px;

}
.cart{
    position: relative;
    margin: 20px;
}
.pccart{
    height: 100%;
    
     
    width: 300px;
}
.namcart{
    position: absolute;
    top: 50px;
    right: 115px;
    font-size: 30px;
    color: rgb(189, 179, 179);
}
.star{
    color: orange;
}
.section2{
 
    width: 100%;
    height: 1000px;
    background-color: rgb(214, 214, 214);
    padding-top: 10px;
}
.headsection{
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
 
    width: 80%;
}
.worke{
    width: 80px;
    border: 1px solid green;
    height: 32px;
    width: 90px;
   margin-left:20px ;
    color: green;
    text-decoration: none;
    font-size: 20px;
    font-weight: 50;
    text-align: center;
}
.worke:hover{
    background-color: green;
    color: antiquewhite;
    transition: ,3;
}
.workes{

    font-size: 26px;
    width: 150px;
    font-weight: 50;
    text-decoration: none;
    color: black;
   transform: translate(180%);
}
.secondcart{
    display: flex;
    justify-content: space-between;
    height: 210px;
    margin-bottom: 80px;
}    
.end{
    display: flex;
    justify-content: space-around;
    height: 200px;
    margin-left: 15px;
} 
.details{
    font-size: large;
}
.mordetails{
    color: rgb(87, 182, 87);
    text-decoration: none;
}  
.endsure{
    display: flex;
    justify-content: space-between;
    text-align: center;
    background-color:rgb(214, 214, 214) ;
    height: 60px;
}
.div44{
    display: flex;
    justify-content: space-between;
}
.div45{
    margin: 15px;
    font-size: large;
    text-align: center;
}
.div46{
    text-align: center;
    margin-top: 40px; 
}
.endtabl{
    display: flex;
    justify-content: center;
    text-align: center;
    direction: rtl;
}
.td5{
    padding: 15px;
}
.p22{
    font-size: small;
}
